.progress-button-wrapper {
  position: relative;
  height: 30px;
  left: 20px;
  padding: 4px;

  color: red;
  border: 2px solid currentColor;
  border-radius: 3px;
  box-sizing: border-box;

  font-family: sans-serif;
  font-weight: bold;

  cursor: pointer;
  user-select: none;
}

.progress-button-wrapper .progress-button-progress {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;

  background-color: currentColor;
  opacity: 0.2;
}
