.panel-container {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.panel {
  height: 100%;
}

.panel-container .panel-center {
  width: 60%;
}

.panel-container .panel-left {
  width: 20%;
}

.panel-container .panel-right {
  width: 20%;
}
