.words-list {
  padding: 5px;
}

.word {
  position: relative;

  font-family: monospace;
  font-size: 18px;
  font-variant: small-caps;

  text-align: center;

  color: black;
  padding: 3px;
  margin: 2px;

  cursor: default;

  background-color: lightgray;
}

.word.has-answer {
  background-color: lightblue;
}

.word.selected {
  background-color: yellowgreen;
}

.word .clear-button {
  position: absolute;

  font-size: 16px;
  color: black;
  top: 5px;
  right: 8px;

  cursor: pointer;

  transition: color 0.2s ease;
}

.word:hover .clear-button {
  color: white;
}
