.words-list {
  padding: 5px;
}

.word {
  font-family: monospace;
  font-size: 18px;
  font-variant: small-caps;

  text-align: center;

  color: black;
  padding: 3px;
  margin: 2px;

  cursor: default;

  background-color: lightgray;
}

.word.has-answer {
  background-color: lightblue;
}

.word.selected {
  background-color: yellowgreen;
}
