.clue-editor-wrapper {
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clue-editor-wrapper .clue-editor-title {
  text-align: center;
  font-size: 24px;
  margin: 20px;
}

.clue-editor-wrapper .answer-editor-input {
  text-align: center;
}

.clue-editor-wrapper .clue-editor-input {
  width: 600px;
}

.clue-editor-wrapper .button-wrapper {
  margin: 20px;
}

.clue-editor-wrapper .replace-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clue-editor-wrapper .clue-editor-letter-count-wrapper {
  text-align: right;
  width: 100%;
  padding: 5px;
  font-size: 12px;
}
