.header {
  position: fixed;
  width: 100%;
  height: 100px;

  top: 0;
  z-index: 3;

  background-color: white;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  font-size: 24px;
  text-align: center;

  font-family: Arial, Helvetica, sans-serif;

  box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
}

.header-title .puzzle-arrow {
  margin: 0 30px;
  cursor: pointer;
}

.header-options {
  position: fixed;
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.state-buttons {
  display: flex;

  right: 10px;
}

.state-buttons div {
  margin: 5px;
  padding: 5px 3px 3px 3px;
  border: 1px solid black;
  border-radius: 15%;

  color: white;
  background-color: #458a8a;
  cursor: pointer;
}

.header-options .header-flex-element {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  flex: 1 1;

  height: 50px;
}
