.header {
  position: fixed;
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  z-index: 3;

  background-color: white;
}

.state-buttons {
  display: flex;

  right: 10px;
}

.state-buttons div {
  margin: 5px;
  padding: 5px 3px 3px 3px;
  border: 1px solid black;
  border-radius: 15%;

  color: white;
  background-color: #458a8a;
  cursor: pointer;
}

.header .header-flex-element {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  flex: 1 1;

  height: 50px;
}
